﻿@model IEnumerable<Core_Clientes.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

    <h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create">Crear Nuevo Cliente</a>
</p>

<form asp-action="Index" method="get">
    <p>
        <i class="fade fa-search"></i>
        <input type="search" placeholder="Ingresa nombre o email..." name="ctleSearch" value="@ViewData["GetClienteDetails"]" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver todos</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditoCliente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdCliente }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Detalles", "Detail", new { id = item.IdCliente}, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCliente}, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
